.events-list {
  padding: 1rem;
  color: #E1E1E1;
  margin-top: 2rem;
  border-top: 1rem solid;
  a {
    color:inherit;
  }
  &__item {
    border-bottom: 1px solid;
    display: block;
  }
  &__item-title {
    font-size: 3rem;
    font-weight: 600;
  }
  &__item-details {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .875rem;
    display: block;
    line-height: 1.2;
  }
}
