/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(204, 51, 51, 0.9);
	    overflow-y: auto;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
  cursor: pointer;
}

/* Menu style */
.overlay nav {
	// text-align: center;
	// position: relative;
	// top: 50%;
	// height: 60%;
	// font-size: 2rem;
  // text-align: left;
	// -webkit-transform: translate(30%, -50%);
  // transform: translate(30%, -50%);
}

.overlay ul {
	// list-style: none;
	// padding: 0;
	// margin: 0 auto;
	// display: inline-block;
	// height: 100%;
	// position: relative;
}

.overlay ul li {
	display: block;
	// height: 20%;
	// height: calc(100% / 5);
	// min-height: 54px;
}

.overlay ul li a {
	// font-weight: 600;
	// display: block;
	// color: #fff;
  // cursor: pointer;
  // text-decoration: underline;
	// -webkit-transition: color 0.2s;
	// transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	// color: #fcb1b1;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
  z-index: 31;
}

.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

/* custom container */
.fsm {
	&__container {
    display: grid;
		padding: 2rem;
		@include tablet {
    	grid-template-columns: 1fr 1fr 1fr;
			padding: 6rem;
			height:100%;
		}
	}
	&__column {
		border-left: 2px solid #a47b7c;
		border-right: 1px solid #b35254;
		padding: 1rem;
		display: flex;
		justify-content: space-between;
    flex-direction: column;
		align-items: flex-start;
		&:first-child {
			border-left: none;
			grid-column-start: 1;
		}
		&:last-child {
			border-right: none;
		}
		/* TEXT STYLES */
		li {
			display: block;
			a {
				color: inherit;

				font-weight: 600;
				display: block;
				color: #fff;
			  cursor: pointer;
			  text-decoration: underline;
				-webkit-transition: color 0.2s;
				transition: color 0.2s;
				text-decoration: none;
				color: inherit;
				&:hover,
				&:focus {
					text-decoration: underline;
					color: #fcb1b1;
				}
			}
		}

		&__title {
    	font-size: 1.4rem;
		}
		/* COLUMN VARIANTS*/
		&.main-menu {
			font-size: 2rem;
			text-transform: uppercase;
			color: white;
			@media (min-height: 1024px) {
				justify-content: flex-start;
			}
		}
		&.categories {
			font-style: italic;
			text-decoration: none;
			color: #c2bfc2;
		}
		&.social-etc {
			justify-content: space-evenly;
			flex-direction: row;
			align-items: center;
			@media (min-height: 1024px) {
				    align-items: flex-start;
			}
		}
	}
}

a.round-icon {
    background-color: white;
    border-radius: 50%;
    display: inline-flex;
    padding: .5rem;
}
